@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body{
    font-family: 'Lato', sans-serif;
 }

.title {
    font-size: 50px;
    margin-left: 20%;
    align-items: center;
}
.table {
    margin-top: 15%;
}
.logo1 {
    width: 130%;
    max-width: 23%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 7%;
  }
  th{
      color: #A57BC8;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: whitesmoke;
  }